<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/about.css" rel="stylesheet">
    <title>About</title>
</head>
<body>
    
    <div class="about-section">
        <h2>About Me</h2>
        <h1>Violet Auko</h1>
        <p>I am Keyan based-individual currently and I am a software developer and I am  also a graduate and a degree holder in accounting. I decided to take a "U" turn in my career because I had so much interest in technology world and the world now is all about technology so i was not ready to be left behind on this great oppotunity.</p>
        <div>
          <h1> My skills</h1>
          <ul>
            <li>Problem solving skills</li>
            <li>Good communication skills</li>
            <li>organization skills</li>
            <li>Good listening skills</li> 
          </ul>

          <h1>My hobbies</h1>
          <ul>
            <li>Doing reserch</li>
            <li>Watching movies</li>
            <li>Reading articls</li>
            
          </ul>

        </div>

       

        </div>
</body>
</html>