<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/contacts.css">
    <title>contacts</title>
</head>
<body>
    <h2>Contacts</h2>
    <div class="card">
        <div class="container">
            <h3>Emails:aukoviolet24@gmail.com, <span></span></h3>
            <h3>violet.auko@student.moringaschool.com</h3>
            <h3>Phone number:0795522373</h3>
            <p><button class="button">Contact me</button></p>
        </div>
        </div>
    
</body>
</html>