<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/projects.css">
    <title>projects</title>
</head>
<body>
    <div class="projects-section">
        <h2>Projects</h2>
    </div>
    <div class="card">
        <div class="container">
            <h3>Project one</h3>
            <p><a href="https://github.com/violetauko/learning-git.git">Follow this link</a></p>
            <p class="description">
                This project is about getting to understand git,github and other things like learning html and css.
                This project uses HTML and CSS languages.
            </p>
        </div>    
    </div>
    <div class="card">
        <div class="container">
            <h3>Project two</h3>
            <p><a href="https://github.com/violetauko/learning-git.git">Follow this link</a></p>
            <p class="description">
                This project is about getting to understand git,github and other things like learning html and css.
                This project uses HTML and CSS languages.
            </p>
        </div>    
    </div>
</body>
</html>