.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  
  .container {
    padding: 0 16px;
  }
  .title {
    color: grey;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  ul{
    text-align: start;
    
  }