.about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  
  .about-container {
    padding: 0 16px;
  }
    
  .about-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .about-section > ul{
    text-align: start;
    display: flex;
    flex-direction: column;
    
  }
  .about-section >h1{
    text-align: start;
    color: violet;
  }
  
  .about-section >h2{
    text-align: start;
    font-style: italic;
    color: violet;
  }
  .about-section >h3{
    font-size: 50px;
    
  }