.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: violet;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: white
  }
    


