.projects-section {
    padding: 50px;
    padding-bottom: 20px;
    text-align: center;
  }
  .card {
    text-align: center;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  .container {
    padding: 0 16px;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }