.projects-section {
    padding: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    
  }
  .card {
    text-align: center;  
    box-shadow: 0 0 10px white;
    margin: 8px;
  }
  .container {
    padding: 0 16px;
    font-size: 20px;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  *{
    background-image: url("../components/matt-botsford-OKLqGsCT8qs-unsplash.jpg");
    color: white;
  }
  a{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: violet;
  }